.container{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    padding: 6.4rem 2.4rem;
}

p {
    display: flex;
    flex-direction: column;  
    line-height: 140%;
}
