.wrapper {
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: var(--gray-700);
}

.main {
  position: absolute;
  top: 175px;
  width: 736px;
  height: 600px;
  border-radius: 15px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.created {
  display: flex;
  gap: 0.5rem;
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.created > span {
  border-radius: 3px;
  padding: 0.125rem 0.5rem;
  border-radius: 62rem;
  background: var(--gray-400);
  color: var(--gray-100);
}
.done {
  display: flex;
  gap: 0.5rem;
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}

.done > span {
  border-radius: 3px;
  padding: 0.125rem 0.5rem;
  border-radius: 62rem;
  background: var(--gray-400);
  color: var(--gray-100);
}